<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8" />
    <title>Starter Page | Skote - Admin &amp; Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Premium Multipurpose Admin &amp; Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />

    <!-- Bootstrap Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}"  />
    <!-- Icons Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/icons.min.css' %}" />
    <!-- App Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/app.min.css' %}" />
    {% block style %}{% endblock style %}
</head>

<body data-sidebar="dark" data-layout-mode="light">
    {% include "layouts/header.html" %}
    
    {% block content %}
    {% endblock content %}
    
    {% include "layouts/footer.html" %}
    {% include "layouts/sidebar.html" %}

    <!-- JAVASCRIPT -->
    {% block customJs %}{% endblock %}
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    
</body>

</html>
