{% extends "layouts/base.html" %} {% load static %}
{% block content %}

<body>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">Books</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item">
                                        <a href="javascript: void(0);">{{books.id}}</a>
                                    </li>
                                    <li class="breadcrumb-item active">Students</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-sm-4">
                                        <div class="search-box me-2 mb-2 d-inline-block">
                                            <div class="position-relative">
                                                <input type="text" class="form-control" placeholder="Search..."
                                                    id="searchInput" oninput="searchElement()">
                                                <i class="bx bx-search-alt search-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="text-sm-end">
                                            {% comment %} <button type="button"
                                                class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"
                                                onclick="issuebtn()">
                                                <i class="mdi mdi-plus me-1"></i> Returned Book
                                            </button> {% endcomment %}
                                        </div>
                                    </div>
                                    <!-- end col-->
                                </div>

                                <div class="table-responsive">
                                    <div id="searchResultsContainer">
                                        <table class="table align-middle table-striped">
                                            <thead class="table-light">
                                                <tr>
                                                    <th style="width: 20px" class="align-middle">
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="checkAll" />
                                                            <label class="form-check-label" for="checkAll"></label>
                                                        </div>
                                                    </th>
                                                    <th class="align-middle">ID</th>
                                                    <th class="align-middle">Student</th>
                                                    <th class="align-middle">Book</th>
                                                    <th class="align-middle">Issue Date</th>
                                                    <th class="align-middle">Returned Date</th>
                                                    <th class="align-middle">Total Charges</th>
                                                    <th class="align-middle">Status</th>
                                                    <!-- <th class="align-middle">Action</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for return_book in return_book %}
                                                <tr>
                                                    <td>
                                                        <div class="form-check font-size-16">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="orderidcheck09" />
                                                            <label class="form-check-label"
                                                                for="orderidcheck09"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a href="javascript: void(0);"
                                                            class="text-body fw-bold">{{return_book.id}}</a>
                                                    </td>
                                                    <td>{{return_book.student.name}}</td>
                                                    <td>{{ return_book.book.title }}</td>
                                                    <td id="issueDate-{{ return_book.id }}">{{ return_book.issue_date }}
                                                    </td>
                                                    <td id="endDate-{{ return_book.id }}">{{ return_book.returned_date
                                                        }}</td>
                                                    <td id="total_charges-{{ return_book.total_charges }}">{{
                                                        return_book.total_charges }}</td>

                                                    <td>{{return_book.status}}
                                                    </td>
                                                    <td>

                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        </div>
    </div>
    <script>
        function searchElement() {
            var search_element = $("#searchInput").val();
            $.ajax({
                type: "POST",
                url: "/search_returnbook/",
                data: {
                    search_element: search_element
                },
                success: function (response) {
                    if (response.message == 'success') {
                        $('#searchResultsContainer').html("");
                        $('#searchResultsContainer').html(response.html_content);
                    }
                    else {
                        alert("Student not Found");
                    }
                },
            });
        }
    </script>
</body>
{% endblock %}